.paginationContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  
    button {
      padding: 0.5rem 1rem;
      background-color: black;
      color: white;
      border: none;
      cursor: pointer;
  
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  
    span {
      font-weight: 500;
    }
  }
  